# Machine Learning — Projet Data Analysis (Dabietes)

## Checklist Projet (rappels rapides)
- [ ok] Contexte métier reformulé: Un centre hospitalier souhaite identifier plus tôt les patient·e·s à risque de diabète afin d’optimiser le suivi (examens complémentaires, prévention, éducation thérapeutique).

- [ ok] Cible: Outcome
        Objectif: Construire une analyse     descriptive solide puis, en option, un score simple de risque interprétable.

- [ ok] Données chargées & contrôles de base (head/info/describe)

- [ ] Nettoyage NA : Il n'y a de donnees manquantes, 
                Types: 7 colonnes numeique et 2 categoriel, 
                Doublons: Il n'y a pas de doublons dans nottre Dataset, 
                outliers: 
- [ ] Visualisations clés (countplot, histogramme, boxplot, scatter, heatmap, lineplot si temps)
- [ ] KPI / réponses aux questions métier
- [ ] **Rapport exécutif** (10 lignes max, en Markdown à la fin)

## 1. Contexte & Objectifs

**Contexte métier**  
Déscriptions du problème :  
- Qu'essayes-tu d'expliquer/prédire ?  
- Pourquoi c'est important ? (impact)

**Objectif et cible**  
- Type de problème : classification / régression / séries temporelles / clustering, ect.
- Variable(s) cible(s) : `...`

# 2. Imports & options

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 3. Chargement des données

In [2]:
# Chargement du dataset
df = pd.read_csv("diabetes.csv")

In [ ]:
# Affichage les infos de 10 premieres lignes du dataset
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [4]:
# les dernieres lignes
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
# La taille du dataset(nombre de colonnes 9 et lingne 768)
df.shape

(768, 9)

In [8]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [6]:
# Informations du dataset differencier les variables cantitatives et numeriques
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
# la description du dataset
df.describe(include='all').transpose().round(3)

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845,3.370,0.000,1.000,3.000,6.000,17.00
Glucose,768.0,120.895,31.973,0.000,99.000,117.000,140.250,199.00
BloodPressure,768.0,69.105,19.356,0.000,62.000,72.000,80.000,122.00
SkinThickness,768.0,20.536,15.952,0.000,0.000,23.000,32.000,99.00
Insulin,768.0,79.799,115.244,0.000,0.000,30.500,127.250,846.00
BMI,768.0,31.993,7.884,0.000,27.300,32.000,36.600,67.10
DiabetesPedigreeFunction,768.0,0.472,0.331,0.078,0.244,0.372,0.626,2.42
Age,768.0,33.241,11.760,21.000,24.000,29.000,41.000,81.00
Outcome,768.0,0.349,0.477,0.000,0.000,0.000,1.000,1.00

## 4. Contrôle qualité des données

- Valeurs manquantes = Aucune valeur manquante(0)
- doublons = Dans ce dataset pas des doublons
- Types de données à optimiser  
- Colonnes inutiles (ID techniques, colonnes vides)

In [9]:
# Les valeurs manquantes
df.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [16]:
# les doublons
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Length: 768, dtype: bool

In [14]:
df.duplicated().sum()

0

## 5. Nettoyage & Feature Engineering (de base)

- Conversion de types (dates, catégories)  
- Imputation simple des NA (médiane/mode)  
- Création de features utiles (ex: `CA = qty * price`, `month = date.dt.to_period('M')`)

## 6. Détection & gestion des outliers

- Méthode IQR ou Z-score  
- Décision métier : supprimer / winsoriser / transformer (log)

In [ ]:
# Detection des outliers avec la methode IQR

def detect_outliers_iqr(df, k=1.5):
    summary = []
    details = {}
    
    num_cols = df.select_dtypes(include=[np.number]).columns
    
    for col in num_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower, upper = Q1 - k*IQR, Q3 +k*IQR
        
        mask = (df[col] < lower) | (df[col] > upper)
        outliers_idx = df[mask].index
        
        details[col] = outliers_idx
        summary.append({
            "colonne": col,
            "nb_outliers": mask.sum(),
            "pct_outliers": round(100*mask.mean(), 2)
        })
    summary = pd.DataFrame(summary).sort_values("pct_outliers", ascending=False)
    return summary, details

# === Exemple d'utilisation ===
summary, details = detect_outliers_iqr(df)

print("Résumé par colonne :")
display(summary)

print("\nIndices des outliers pour la colonne 'Glucose' (exemple) :")
print(details.get("Glucose", []))

Résumé par colonne :

                    colonne  nb_outliers  pct_outliers
2             BloodPressure           45          5.86
4                   Insulin           34          4.43
6  DiabetesPedigreeFunction           29          3.78
5                       BMI           19          2.47
7                       Age            9          1.17
1                   Glucose            5          0.65
0               Pregnancies            4          0.52
3             SkinThickness            1          0.13
8                   Outcome            0          0.00

Indices des outliers pour la colonne 'Glucose' (exemple) :
Index([75, 182, 342, 349, 502], dtype='int64')

In [41]:
# Detection des outliers avec la methode Z-score
def detect_outliers_zscore(df, threshold=3.0):
    rows = []
    details = {}
    for col in df.select_dtypes(include=[np.number]).columns:
        mean, std = df[col].mean(), df[col].std()
        if std == 0 or np.isnan(std):
            continue
        z = (df[col] - mean) / std
        mask = z.abs() > threshold
        details[col] = df.index[mask]
        rows.append({
            "colonne": col, 
            "nb_outliers_z": int(mask.sum()), 
            "pct_outliers_z": round(100*mask.mean(), 2)
        })
    rows = pd.DataFrame(rows).sort_values("pct_outliers_z", ascending=False)
    return rows, details

rows, details = detect_outliers_zscore(df)


print("Résumé par colonne :")
display(rows)

print("\nIndices des outliers pour la colonne 'Glucose' (exemple) :")
print(details.get("Glucose", []))

Résumé par colonne :

                    colonne  nb_outliers_z  pct_outliers_z
2             BloodPressure             35            4.56
4                   Insulin             18            2.34
5                       BMI             14            1.82
6  DiabetesPedigreeFunction             11            1.43
1                   Glucose              5            0.65
7                       Age              5            0.65
0               Pregnancies              4            0.52
3             SkinThickness              1            0.13
8                   Outcome              0            0.00

Indices des outliers pour la colonne 'Glucose' (exemple) :
Index([75, 182, 342, 349, 502], dtype='int64')



- Countplot (catégories)  ## 7. EDA — Visualisations essentielles
- Histogramme/KDE (numériques)  
- Box/Violin (numérique vs catégorie)  
- Scatter (numérique vs numérique)  
- Heatmap de corrélations  
- Lineplot (séries temporelles)

## 8. KPI & Questions métier (à adapter)
  
  - Distribution diagnostic et features clés (médical)

## 9. Rapport exécutif (à compléter)

**Contexte** :  
- (résumé 2–3 phrases)

**Résultats clés** :  
- …  
- …  
- …  

**Insights & Recommandations** :  
- …  
- …  
- …